<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsms.mapper.StoreCustomMapper">
<resultMap id="BaseResultMap" type="com.hsms.model.Store">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="remain_branch_num" jdbcType="INTEGER" property="remainBranchNum" />
    <result column="sell_branch_num" jdbcType="INTEGER" property="sellBranchNum" />
    <result column="remain_box_num" jdbcType="INTEGER" property="remainBoxNum" />
    <result column="sell_box_num" jdbcType="INTEGER" property="sellBoxNum" />
    <result column="purchase_transaction" jdbcType="DOUBLE" property="purchaseTransaction" />
    <result column="sale_transaction" jdbcType="DOUBLE" property="saleTransaction" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  
  <select id="getOneByGoodsCode" parameterType="java.lang.String" resultMap="BaseResultMap">
   select * from store where goods_code = #{goodsCode,jdbcType=VARCHAR}
  
  </select>
</mapper>